/*

.slide {
    display: none;
}
*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slideone {
    background-image: url("IMG_9405.JPG");
    background-attachment: fixed;
    background-size: cover;
    margin-left: 0px;
    height: 700px;
    width: 1349px;
    margin-right: 0px;
    padding-top: 60px;
}

.slideone h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    color: #ffffff;
    margin-top: 200px;
    padding-left: 90px;
}

.slideone p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #B8B8B8;
    font-size: 20px;
    padding-left: 90px;
}


/*
.slider-nav {
    display: inline-block;
}
*/

.dotslider {
    list-style-type: none;
}

.dotsslider li {
    display: inline;
}


/* Last page starts here*/

.testfoot {
    /*
    background-image: url("works/depositphotos_44323847-White-tile-brick-wall-with.jpg");
    background-size: cover;
*/
    text-align: center;
}

.socialnet {
    text-align: center;
    background: transparent;
    /*
    <div class="testfoot">
        <section class="socialnet">
            <h4>Let's Keep in touch.</h4>
            <div>
                <a href="https://www.facebook.com/profile.php?id=100001205814934" target="_blank" class="facebook"></a>
                <a href="https://www.instagram.com/?hl=en" target="_blank" class="instagram"></a>
                <a href="mailto:kprashanthreddy61@gmail.com?cc=prashanthreddygr8@gmail.com&subject=subject" class="mail"></a>
            </div>
        </section>
    </div>
*/
    /*    height: 700px;*/
    padding: 0 0 0 0;
    margin-bottom: 100px;
}

.socialnet a {
    text-align: center;
    padding: 24px 32px 24px 32px;
    border-radius: 300px;
    margin: 0 20px;
    opacity: .5;
}

.facebook {
    opacity: 0.5;
    background: transparent url("lastpage/iconmonstr-facebook-1-48%20(1).png") center no-repeat;
    background-image: url("lastpage/iconmonstr-facebook-1-48%20(1).png");
    /*
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
*/
    border: 3px solid rgba(166, 166, 166, 0.5);
}

.instagram {
    opacity: 0.5;
    background: transparent url("lastpage/iconmonstr-instagram-1-48%20(1).png") center no-repeat;
    background-image: url("lastpage/iconmonstr-instagram-1-48%20(1).png");
    /*
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
*/
    border: 3px solid rgba(166, 166, 166, 0.5);
}

.mail {
    opacity: 0.5;
    background: transparent url("lastpage/iconmonstr-paper-plane-1-48%20(1).png") center no-repeat;
    background-image: url("lastpage/iconmonstr-paper-plane-1-48%20(1).png");
    /*
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
*/
    border: 3px solid rgba(166, 166, 166, 0.5);
}

.facebook:hover {
    opacity: 1;
    border: 3px solid rgba(51, 51, 51, 1);
    transition: all .2s linear;
}

.instagram:hover {
    opacity: 1;
    border: 3px solid rgba(51, 51, 51, 1);
    transition: all .2s linear;
}

.mail:hover {
    opacity: 1;
    border: 3px solid rgba(51, 51, 51, 1);
    transition: all .2s linear;
}

.testfoot h4 {
    padding: 20px;
    margin: 40px auto 20px auto;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2.9em;
    color: #333333;
    text-align: center;
}

.testfoot p {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 23px;
    text-align: center;
    margin: 0 200px 100px 200px;
    color: DarkSlateGray;
}

.testfoot span small {
    font-size: 14px;
    /*    padding: 0 200px 100px 200px;*/
    /*    position: relative;*/
    color: #bfbfbf;
    font-family: 'garvis-pro', serif;
    font-style: italic;
    font-weight: bold;
    line-height: 4.9em;
    /*
    padding: 0;
    margin: 0;
*/
}

#copyrights {
    color: DarkSlateGray;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 12px;
    /*    padding: 0 0 50px 0;*/
    font-style: normal;
}

#copyrights a {
    color: DarkSlateGray;
    font-family: 'Roboto Slab', sans-serif;
    text-decoration: none;
    /*    padding-bottom: 30px;*/
}

#copyrights a:hover {
    background-color: #d9d9d9;
}

.tooltip-top .back-to-top {
    background: #bfbfbf;
    text-indent: -9999px;
    width: 44px;
    height: 80px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.tooltip-top {
    background-color: #333333;
    margin-top: 20px;
    /*    margin-bottom: 20px;*/
    position: relative;
}

.tooltip-top .back-to-top:before {
    background: url("3-pt.png") 0 0/contain no-repeat;
    width: 30px;
    height: 30px;
    content: "➵";
    position: absolute;
    display: table;
    left: 9px;
    top: 15px;
}

.tooltip-top .back-to-top:after {
    content: "";
    position: absolute;
    display: table;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 22px 14px;
    border-color: transparent transparent #343c47;
    bottom: 0;
}

.tooltip-top {
    height: 130px;
    background-image: -webkit-linear-gradient(top, #2b323b 0, #2b323b 45%, #343c47 45%, #343c47 78%, #3d4652 78%, #3d4652 100%);
}

.tooltip-top a:hover {
    background: #e9dba1;
    color: #71601a;
    text-decoration: none;
    position: relative;
}