* {
    /* Reset the default styles. 
    Use border-box because it's easier! */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1a2125;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /* Click-and-drag or text-selection doesn't make sense. */
    /* Or long-tap on webkit phones. */
}

.main {
    /* Use a max-width so that we have 4 columns */
    max-width: 640px;
    margin: auto;
    padding: 20px;
}

.main header {
    text-align: center;
    margin: 0 5px 36px 5px;
    font-size: 24px;
    border: 1px rgb(128, 128, 159) solid;
    padding: 8px;
    background: rgba(128, 128, 159, 0.1);
}

ul {
    /* We don't need actual bullets */
    list-style: none;
}

li {
    float: left;
    /* So that they wrap */
    height: 150px;
    width: 150px;
    margin: 5px;
    /* The gaps between them */
    text-transform: capitalize;
    cursor: pointer;
}


/* When moused over, rotate it! */

li:active {
    transform -webkit-transform: perspective(800px) rotate3d(1, 0, 0, 30deg);
    -moz-transform: perspective(800px) rotate3d(1, 0, 0, 30deg);
    -ms-transform: perspective(800px) rotate3d(1, 0, 0, 30deg);
    -o-transform: perspective(800px) rotate3d(1, 0, 0, 30deg);
    transform: perspective(800px) rotate3d(1, 0, 0, 30deg);
}


/* Icon and number */

li a {
    font-size: 60px;
}


/* Text label on tiles */

ul li span {
    bottom: 8px;
    left: 8px;
    float: left;
    padding-top: 125px;
    padding-left: 5px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    display: table-cell;
    vertical-align: bottom;
}

.fa {
    display: inline-block;
    position: absolute;
    margin: auto;
    margin-left: 20px;
    padding-top: 5px;
}

.fa-phone:before {
    content: url(iconmonstr-phone-1-48.png);
}

.fa-comments:before {
    content: url(iconmonstr-sms-1-48.png);
}

.fa-user:before {
    content: url(iconmonstr-user-1-64.png);
}

.fa-user {
    margin-top: 25px;
    margin-left: 110px;
}

.fa-globe:before {
    content: url(iconmonstr-networking-6-72.png);
}

.fa-gamepad:before {
    content: url(iconmonstr-gamepad-3-64.png);
}

.fa-gamepad {
    margin-top: 25px;
    margin-left: 110px;
}

.fa-map-marker:before {
    content: url(iconmonstr-map-9-64.png);
}

.fa-search:before {
    content: url(iconmonstr-magnifier-4-64.png);
}

.fa-envelope:before {
    content: url(iconmonstr-email-1-64.png);
}

.fa-instagram:before {
    content: url(iconmonstr-picture-18-64.png);
}

.fa-gears:before {
    content: url(iconmonstr-gear-10-64.png);
}


/* Specialized background colours */

.games {
    background: rgb(0, 192, 0);
    width: 300px;
}

.phone {
    background: rgb(27, 161, 226);
}

.messages {
    background: rgb(240, 163, 10);
}

.contacts {
    background: rgb(119, 158, 203);
    width: 300px;
}

.internet {
    background: rgb(0, 80, 239);
}

.maps {
    background: rgb(119, 221, 119);
}

.search {
    background: rgb(130, 111, 214);
}

.settings {
    background: rgb(100, 118, 135);
}

.email {
    background: rgb(255, 105, 97);
}

.photos {
    background: rgb(162, 0, 37);
}